<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js"></script>
</head>
<style>
    ul {list-style-type: none}
    .card-header-pills {
        align-items: center;
    }
    .nav-link {
        color: white;
    }
</style>
<body>
    <header class="card">
        <h3>пасхалко</h3>
    </header>
    <header class="card card-header-pills fixed-top">
        <ul class="nav nav-pills align-items-md-center">
            <li class="nav-item">
                <a href="/" class="nav-link {% if request.path == '/' %}active{% endif %}" {% if request.path == '/' %}aria-current="page"{% endif %}>
                    На главную
                </a>
            </li>
            {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a href="/server" class="nav-link {% if request.path == '/server' %}active{% endif %}" {% if request.path == '/server' %}aria-current="page"{% endif %}>
                        Панель управления
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/server/players" class="nav-link {% if request.path == '/server/players' %}active{% endif %}" {% if request.path == '/server/players' %}aria-current="page"{% endif %}>
                        Игроки
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/server/settings" class="nav-link {% if request.path == '/server/settings' %}active{% endif %}" {% if request.path == '/server/settings' %}aria-current="page"{% endif %}>
                        Настройки
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/server/files/server" class="nav-link {% if request.path == '/server/files/server' %}active{% endif %}" {% if request.path == '/server/files/server' %}aria-current="page"{% endif %}>
                        Файлы
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/server/backups" class="nav-link {% if request.path == '/server/backups' %}active{% endif %}" {% if request.path == '/server/backups' %}aria-current="page"{% endif %}>
                        Бекапы
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/server/sqltables" class="nav-link {% if request.path == '/server/sqltables' %}active{% endif %}" {% if request.path == '/server/sqltables' %}aria-current="page"{% endif %}>
                        База данных
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/server/map" class="nav-link {% if request.path == '/server/map' %}active{% endif %}" {% if request.path == '/server/map' %}aria-current="page"{% endif %}>
                        Карта
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/logout" class="nav-link btn btn-danger" {% if request.path == '/auth' %}aria-current="page"{% endif %}>
                        Выход
                    </a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a href="/about" class="nav-link {% if request.path == '/about' %}active{% endif %}" {% if request.path == '/about' %}aria-current="page"{% endif %}>
                        О нас
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/login" class="nav-link {% if request.path == '/auth' %}active{% endif %}" {% if request.path == '/auth' %}aria-current="page"{% endif %}>
                        Вход
                    </a>
                </li>
            {% endif %}
        </ul>
    </header>
    {% block body %}
    {% endblock %}
    <div class="background">
        <img class="card-img" src="{{ url_for('static', filename='/res/img7.png') }}" alt="minecraft(main-link)">
        <img class="card-img" src="{{ url_for('static', filename='/res/img5.png') }}" alt="minecraft(main-link)">
    </div>
</body>
</html>




